<% include ../partials/header %>

   <div class='row'>
        
    	<div class="col-md-8">
    		<h2><%= user.username %>'s Profile:</h2>
    		<!-- <ul>
    		<% recipes.forEach(function(recipe) { %>
    			<li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
    		<% }); %>
    		</ul> -->
    	</div>
    </div>
    <div class='col-md-4'>
        <h4><%= user.username %></h4>
        <div class='card'>
            
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
            <div class="card-body">
                <p class="card-text">
                 
                </p>
            </div>
     </div>

<% include ../partials/footer %>